<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    >

    <meta-data
        android:name="push_kit_auto_init_enabled"
        android:value="true" />

    <meta-data
        android:name="install_channel"
        android:value="AppGallery"></meta-data>

    <application>
        <receiver android:name="com.capacitorjs.plugins.hmslocalnotifications.TimedNotificationPublisher" />
        <receiver android:name="com.capacitorjs.plugins.hmslocalnotifications.NotificationDismissReceiver" />
        <receiver
            android:name="com.capacitorjs.plugins.hmslocalnotifications.LocalNotificationRestoreReceiver"
            android:directBootAware="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.LOCKED_BOOT_COMPLETED" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
            </intent-filter>
        </receiver>
        <service android:name="com.capacitorjs.plugins.pushnotifications.MessagingService" android:exported="false">
            <intent-filter>
                <action android:name="com.huawei.push.action.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
</manifest>